<app-navbar />
<form
  [formGroup]="loginForm"
  (ngSubmit)="login()"
  *ngIf="activeForm === 'login'"
>
  <mat-card>
    <mat-card-header>
      <div class="mat-icon"><mat-icon>account_circle</mat-icon></div>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input
          matInput
          formControlName="username"
          placeholder="Enter your username"
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          placeholder="Enter your password"
        />
      </mat-form-field>
      <mat-card-actions>
        <button class="btn" mat-raised-button type="submit">Login</button>
        <p (click)="toggleForm('register')">
          Don't have an account?
          <span class="highlighted">Register</span>
        </p>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</form>

<form
  [formGroup]="registerForm"
  (ngSubmit)="register()"
  *ngIf="activeForm === 'register'"
>
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar><mat-icon>person_add</mat-icon></div>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Name:</mat-label>
        <input
          matInput
          placeholder="Enter name"
          formControlName="name"
          type="text"
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Email:</mat-label>
        <input
          matInput
          placeholder="Enter email"
          formControlName="email"
          type="email"
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password:</mat-label>
        <input
          matInput
          placeholder="Enter password"
          formControlName="password"
          type="password"
        />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button class="btn" mat-raised-button type="submit">Register</button>
      <p (click)="toggleForm('login')">
        Already have an account?
        <span class="highlighted">Login</span>
      </p>
    </mat-card-actions>
  </mat-card>
</form>
